@model IEnumerable<SAWebUI.Models.ProductVM>

<form>

</form>
<h1 class="display-4 text-left">List of Product </h1>
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10">
        @if (TempData["msg"] != null)
        {
            <div class="alert alert-success" role="alert" style="font-size:large">
                @TempData["msg"]
            </div>
        }
        @if (TempData["total"] == null)
        {
            <h3>
                Total Bill: $0
            </h3>
        }
        else
        {
            <h3> Total Bill: $@TempData["total"]</h3>
        }
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <h3 style="font-family:'Arial Rounded MT';text-align:center"> <span class="btn btn-warning">@Html.ActionLink("Check Out", "Checkout", "OurStore")</span></h3>
    </div>
</div>
<div>
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3">
                <div class="card" style="width: 15rem;">
                    <img style="min-height:100px;width:100px" src="~/images/prd.png">
                    <div class="card-body">
                        <p class="card-text">Product : <b> @item.ProductName</b>  </p>
                        <p class="card-text">Price: <b><em>@item.ProductUnitPrice</em>$</b> 
                                                    <span class="btn btn-outline-light">
                                                        @Html.ActionLink("", "AddToCart", new { p_id = @item.Id }, new { @class = "fas fa-cart-plus" })
                                                    </span>
                        </p>
                            
                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>

