@model IEnumerable<SAWebUI.Models.ProductVM>

<div class="text-center ">
    <h1 class="display-4 text-left">List of Product from @ViewBag.StoreName</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">unit Price</th>
                <th scope="col">Quantity in Stock</th>
                <th scope="col">Product Description</th>
                <th scope="col">Operation</th>
            </tr>
        </thead>
        <tbody>

            @foreach (ProductVM item in Model)
            {

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductUnitPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductAvailableQty)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductDescription)</td>
                    <td>@Html.ActionLink("", "AddToCart", new { p_productId = item.Id }, new { @class = "fas fa-cart-plus" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>

