@model IEnumerable<SAWebUI.Models.ProductVM>

<div class="text-center ">
    <h1 class="display-4 text-left">List of Product from @ViewBag.StoreName</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">unit Prices</th>
                <th scope="col">Quantity in Stock</th>
                <th scope="col">Product Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductVM item in Model)
            {

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductUnitPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductAvailableQty)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductDescription)</td>
                </tr>
            }            
        </tbody>
        <tfoot>
            <a asp-action="OurStoreIndex" class="btn btn-danger">Back</a>
        </tfoot>
    </table>    
</div>

